time_zone: "Europe/Berlin"

home_latitude: "52.1234567°"
home_longitude: "12.1234567°"

wifi_ssid: "YourWifiSSID"
wifi_pass: "YourWifiPassword"

wifi_ap_ssid: "Fallback Hotspot"
wifi_ap_password: "esphome1234"

esphome_api_pass: "YourEsphomeApiPassword"
esphome_ota_pass: "YourEsphomeOtaPassword"
